<section class="card register">
  <form name="myform" novalidate ng-submit="register()"> <!--Tell browser not to handle validation | invoke method on submit-->

    <div class="textintro">
      <h1>Register</h1>
      <p>To access site features</p>
      <p>{{message}}</p>
    </div>

    <fieldset>
      <input type="text" name="firstname" placeholder="First Name" ng-model="user.firstname" ng-required="true">
      <p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">
        Enter a First Name!</p>
      <input type="text" name="lastname" placeholder="Last Name" ng-model="user.lastname" ng-required="true">
      <p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">
        Enter a Last Name!</p>
      <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
      <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">
        Enter a Valid Email!</p>
      <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
      <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">
        Enter your password!</p>
    </fieldset>

    <button type="submit" class="btn" ng-disabled="myform.$invalid">Register</button>
    <p>or <a ng-href="#/login">login</a></p>
  </form>
</section>
